.Button {
  display: inline-block;
  cursor: pointer;
  padding: var(--spacing-size-sm) var(--spacing-size-md);
  color: var(--text);
  font-size: 1rem;
  font-weight: 600;
  border-radius: var(--border-radius-sm);
  border: outset 2px buttonface;
  font-family: inherit;
}

.Button:disabled,
.Button[disabled] {
  background: linear-gradient(180deg, var(--background) 0%, var(--background-dark) 100%);
  color: var(--text-disabled);
  cursor: not-allowed;
}

.primary {
  background: linear-gradient(180deg, var(--text) 0%, var(--text-muted) 100%);
  color: var(--background-light);

  &:active:not(:disabled):not([disabled]) {
    background: linear-gradient(180deg, var(--text-muted) 0%, var(--text) 100%);
  }
}

.secondary {
  background: linear-gradient(180deg, var(--background-light) 0%, var(--background) 100%);
  color: var(--text);

  &:active:not(:disabled):not([disabled]) {
    background: linear-gradient(180deg, var(--background) 0%, var(--background-light) 100%);
  }
}